
@{
    ViewBag.Title = "WeatherJS";
}

<h2>WeatherJS</h2>

<p id="reply">
    <button>Get Weather</button>
</p>

<script>
    $(document).ready(function () {
        $("button").click(function () {            
            $.get("http://api.openweathermap.org/data/2.5/weather?q=Milwaukee&APPID=35bd7d68bf30c2b4be5024747ceacecb&units=imperial}",
            function (response) {
                //response
                $("#reply").text(response);
            });
        });
    });
</script>