@using GroupCapstone.Models
@model ChargeViewModel
@{
    ViewBag.Title = "OrderStatus";
}

<p>
    @Html.ActionLink("Back To All Events", "GuestHome", "Guest")
</p>
<h2>Order Status</h2>
<p>
    @Model.ChargeId
</p>
